*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 135vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://st2.depositphotos.com/5857090/8526/i/450/depositphotos_85264318-stock-photo-orange-landmark-on-the-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
        
       
      

}

.container-principal {
    background-color: rgb(209, 206, 206);
    opacity: 0.6;
    color: rgb(97, 3, 3);
    padding: 55px;
    border-radius: 70px;
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(97, 3, 3);
    
    

}
.titulo {
    text-align: center;
    color: rgb(97, 3, 3);
    font-size: 75px;
    opacity: 1.0;


}

#cep {
    margin-top: 10px;
}

  
h2 {
    margin-top: 16px;
    opacity: 0.9;
       
        font-family: "PT Serif Caption", serif;
        font-weight: 400;
        font-style: italic;
      text-align: center;
      
}

input {
        border: none;
        outline: none;
        font-size: 30px;
        border-radius: 10px;
        color: rgb(97, 3, 3);
        text-decoration: solid;
        
        
}